---
layout: default
---

{% include setlang.html %}

<article class="Prose u-color-grey-60">
  <div class="u-layout-r-withGutter u-padding-r-top u-padding-r-bottom">
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-size6of12 u-color-50">
        <h1 class="u-text-r-xs u-margin-bottom-s">Kit</h1>
        <h1 class="u-text-h2">Architettura dell'informazione</h1>
        <div class="u-text-r-m">
          Sottotitolo che contestualizzi questo kit per cosa lo usiamo e dove, frase chiave contestualizzare in tre righe al massimo deve capirsi
        </div>
      </div>
    </div>
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-before3of12 u-size6of12">
        <h4 class="u-padding-bottom-s">A COSA SERVE</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis. Etiam quam diam ipsum dignissim. Proin ac nascetur scelerisque adipiscing amet velit. Semper pharetra, ipsum massa volutpat vestibulum neque, etiam tortor. Proin ac nnbmvnbvnbvnbnascetur scelerisque adipiscing amet velit. Semper pharetra, ipsum massa volutpat vestibulum neque, etiam tortor. Proin ac nnbmvnbvnbvnbnascetur scelerisque adipiscing amet velit. Semper pharetra, ipsum massa volutpat vestibulum neque, etiam tortor.
        </p>
      </div>
      <div class="Grid-cell u-before1of12 u-size2of12">
        <div class="u-margin-bottom-xxl">
          <h4 class="u-padding-bottom-xs">PROFESSIONALITÀ</h4>
          <div class="u-margin-bottom-xs">Content designer</div>
          <div class="u-margin-bottom-xs">Redattore</div>
          <div class="u-margin-bottom-xs">Esperto UX</div>
        </div>
        <h4 class="u-padding-bottom-s">LINEE GUIDA</h4>
        <div class="u-margin-bottom-xs">Content design</div>
      </div>
    </div>
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-background-50 u-color-white u-padding-all-m u-size6of12">
        COL-6
        Cose da fare
      </div>
    </div>
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-size10of12 u-borderShadow-l">
        <div class="Accordion fr-accordion js-fr-accordion u-padding-all-l" id="accordion-0">
          <div class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-0">


            <div class="Grid Grid--alignCenter Grid--withGutter">
              <div class="Grid-cell u-size2of10">IMG</div>
              <div class="Grid-cell u-size6of10">
                <div class="u-text-h3 u-color-50">Individua contenuti e funzionalità</div>
                <div data-accordion-header-text class="accordion-line-clamp">
                  Costruisci gli scenari d’uso del tuo prodotto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque metus, duis nibh phasellus tincidunt. Diam orci, sit elit sit volutpat facilisi. Pharetra, viverra et viverra bibendum erat vitae integer vehicula enim. Neque, ut tempor integer tortor dui mauris, volutpat. Turpis tellus purus montes, sed euismod integer.
                </div>
              </div>
              <div data-accordion-expanded="false" class="Grid-cell u-size2of10 u-textRight">+</div>
            </div>


          </div>
          <div id="accordion-panel-0" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-size2of10 u-textRight">Strumenti</div>
              <div class="Grid-cell u-size8of10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis.
              </div>
            </div>

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-size2of10 u-textRight">Istruzioni</div>
              <div class="Grid-cell u-size8of10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-size10of12 u-borderShadow-l">
        <div class="Accordion fr-accordion js-fr-accordion u-padding-all-l" id="accordion-1">
          <div class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1">


            <div class="Grid Grid--alignCenter Grid--withGutter">
              <div class="Grid-cell u-size2of10">IMG</div>
              <div class="Grid-cell u-size6of10">
                <div class="u-text-h3 u-color-50">Individua contenuti e funzionalità</div>
                <div data-accordion-header-text class="accordion-line-clamp">
                  Costruisci gli scenari d’uso del tuo prodotto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque metus, duis nibh phasellus tincidunt. Diam orci, sit elit sit volutpat facilisi. Pharetra, viverra et viverra bibendum erat vitae integer vehicula enim. Neque, ut tempor integer tortor dui mauris, volutpat. Turpis tellus purus montes, sed euismod integer.
                </div>
              </div>
              <div data-accordion-expanded="false" class="Grid-cell u-size2of10 u-textRight">+</div>
            </div>


          </div>
          <div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-size2of10 u-textRight">Strumenti</div>
              <div class="Grid-cell u-size8of10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis.
              </div>
            </div>

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-size2of10 u-textRight">Istruzioni</div>
              <div class="Grid-cell u-size8of10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-size10of12 u-borderShadow-l">
        <div class="Accordion fr-accordion js-fr-accordion" id="accordion-2">
          <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-2">
            <span class="Accordion-link">Tempore voluptatem ut aut.</span>
          </h2>
          <div id="accordion-panel-2" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
            <p class="u-layout-prose u-color-grey-90 u-text-p u-padding-r-all">Ex omnis rerum saepe quibusdam facilis rerum. Officiis perspiciatis est rerum harum consequatur et debitis molestiae illum. Aut omnis tenetur sed repellendus autem eos. Qui sed vitae aut explicabo et ad sit. Qui consequatur sunt. Iusto ad officiis
              sunt.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-background-50 u-color-white u-padding-all-m u-size6of12">
        COL-6
        Tutorial
      </div>
    </div>
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-background-50 u-color-white u-padding-all-m u-size6of12">
        COL-6
        Video Tutorial
      </div>
    </div>
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-background-50 u-color-white u-padding-all-m u-before3of12 u-size6of12">
        COL-6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis. Etiam quam diam ipsum dignissim. Proin ac nascetur scelerisque adipiscing amet velit. Semper pharetra, ipsum massa volutpat vestibulum neque, etiam tortor. Proin ac nnbmvnbvnbvnbnascetur scelerisque adipiscing amet velit. Semper pharetra, ipsum massa volutpat vestibulum neque, etiam tortor. Proin ac nnbmvnbvnbvnbnascetur scelerisque adipiscing amet velit. Semper pharetra, ipsum massa volutpat vestibulum neque, etiam tortor.
      </div>
      <div class="Grid-cell u-background-50 u-color-white u-padding-all-m u-before1of12 u-size2of12">
        COL-2
        Kit correlati
      </div>
    </div>
  </div>
</article>
