---
layout: default
---

{% include setlang.html %}
{% assign title = page.title %}
{% assign subtitle = page.subtitle %}
{% assign textChunk1 = page.textChunk1 %}
{% assign textChunk2 = page.textChunk2 %}
{% assign textChunk3 = page.textChunk3 %}

<article class="Prose u-color-grey-60">
  <div class="u-layout-r-withGutter u-padding-r-top u-padding-r-bottom">
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-size6of12 u-color-50">
        <h1 class="u-text-r-xs u-margin-bottom-s">Kit</h1>
        <h1 class="u-text-h2">{{title}}</h1>
        <div class="u-text-r-m">
          {{subtitle}}
        </div>
      </div>
    </div>
    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-before3of12 u-size6of12">
        <h3 class="u-text-h6">{{textChunk1.title}}</h3>
        <p>
          {{textChunk1.text}}
        </p>
      </div>
      <div class="Grid-cell u-before1of12 u-size2of12">
        <div class="u-margin-bottom-xxl">
          <h4 class="u-padding-bottom-xs">PROFESSIONALITÀ</h4>
          <div class="u-margin-bottom-xs">Content designer</div>
          <div class="u-margin-bottom-xs">Redattore</div>
          <div class="u-margin-bottom-xs">Esperto UX</div>
        </div>
        <h3 class="u-padding-bottom-s">LINEE GUIDA</h3>
        <div class="u-margin-bottom-xs">Content design</div>
      </div>
    </div>

    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-size6of12">
        <h3 class="u-text-h6">COSE DA FARE</h3>
      </div>
      <div class="Grid-cell u-size10of12 u-borderShadow-l">
        <div class="Accordion fr-accordion js-fr-accordion u-padding-all-l" id="accordion-0">
          <div class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-0">


            <div class="Grid Grid--alignCenter Grid--withGutter">
              <div class="Grid-cell u-size2of10">IMG</div>
              <div class="Grid-cell u-size6of10">
                <div class="u-text-h3 u-color-50">Individua contenuti e funzionalità</div>
                <div data-accordion-header-text class="accordion-line-clamp">
                  Costruisci gli scenari d’uso del tuo prodotto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque metus, duis nibh phasellus tincidunt. Diam orci, sit elit sit volutpat facilisi. Pharetra, viverra et viverra bibendum erat vitae integer vehicula enim. Neque, ut tempor integer tortor dui mauris, volutpat. Turpis tellus purus montes, sed euismod integer.
                </div>
              </div>
              <div data-accordion-expanded="false" class="Grid-cell u-size2of10 u-textRight">+</div>
            </div>


          </div>
          <div id="accordion-panel-0" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-size2of10 u-textRight">Strumenti</div>
              <div class="Grid-cell u-size8of10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis.
              </div>
            </div>

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-size2of10 u-textRight">Istruzioni</div>
              <div class="Grid-cell u-size8of10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-size10of12 u-borderShadow-l">
        <div class="Accordion fr-accordion js-fr-accordion u-padding-all-l" id="accordion-1">
          <div class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1">


            <div class="Grid Grid--alignCenter Grid--withGutter">
              <div class="Grid-cell u-size2of10">IMG</div>
              <div class="Grid-cell u-size6of10">
                <div class="u-text-h3 u-color-50">Individua contenuti e funzionalità</div>
                <div data-accordion-header-text class="accordion-line-clamp">
                  Costruisci gli scenari d’uso del tuo prodotto. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque metus, duis nibh phasellus tincidunt. Diam orci, sit elit sit volutpat facilisi. Pharetra, viverra et viverra bibendum erat vitae integer vehicula enim. Neque, ut tempor integer tortor dui mauris, volutpat. Turpis tellus purus montes, sed euismod integer.
                </div>
              </div>
              <div data-accordion-expanded="false" class="Grid-cell u-size2of10 u-textRight">+</div>
            </div>


          </div>
          <div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-size2of10 u-textRight">Strumenti</div>
              <div class="Grid-cell u-size8of10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis.
              </div>
            </div>

            <div class="Grid Grid--alignCenter Grid--withGutter u-margin-top-m u-margin-bottom-m">
              <div class="Grid-cell u-size2of10 u-textRight">Istruzioni</div>
              <div class="Grid-cell u-size8of10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed morbi commodo, massa lorem tincidunt in. Enim pulvinar vel lobortis morbi morbi est convallis. Et ipsum est iaculis scelerisque mollis at. Cursus facilisis amet nunc lobortis sagittis.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-before3of12 u-size6of12">
        <h3 class="u-padding-bottom-s">{{textChunk2.title}}</h3>
        <p>
          {{textChunk2.text}}
        </p>
      </div>
      <div class="Grid-cell u-before1of12 u-size2of12">
      </div>
    </div>


    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-background-50 u-color-white u-padding-all-m u-size6of12">
        COL-6
        Video Tutorial
      </div>
    </div>

    <div class="Grid Grid--alignCenter u-padding-all-l">
      <div class="Grid-cell u-before3of12 u-size6of12">
        <h3 class="u-padding-bottom-s">{{textChunk3.title}}</h3>
        <p>
          {{textChunk3.text}}
        </p>
      </div>
      <div class="Grid-cell u-before1of12 u-size2of12">
        <div class="u-margin-bottom-xxl">
          <h4 class="u-padding-bottom-xs">PROFESSIONALITÀ</h4>
          <div class="u-margin-bottom-xs">Content designer</div>
          <div class="u-margin-bottom-xs">Redattore</div>
          <div class="u-margin-bottom-xs">Esperto UX</div>
        </div>
        <h4 class="u-padding-bottom-s">LINEE GUIDA</h4>
        <div class="u-margin-bottom-xs">Content design</div>
      </div>
    </div>

  </div>
</article>
